/* background images */

#start-value {
    background-image: url("../img/value/element_title.png"), url("../img/value/background.png");
}

#info-value {
    background-image: url("../img/value/element_info.png"), url("../img/value/background.png");
}

#start-value,
#info-value {
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center center;
}

[id |="test-value"] {
    background-image: url("../img/value/grid.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

:root {
    /* Color */
    --white-color: #fffeff;
    --grey-color: #f5f5f5;
    /* Background Color */
    --value1-color: #e3e3e3;
    --value2-color: #393939;
    --value3-color: #1c1c1c;
    --value4-color: #aaaaaa;
    --value5-color: #717171;
    --value6-color: #555555;
    --value7-color: #c6c6c6;
    --value8-color: #000000;
    --value9-color: #8e8e8e;
    --value10-color: #ffffff;
    /* Padding - Margin - Border */
    --padding-big: 1em;
    --padding-medium: 0.5em;
    --body-width: 25.875em;
    --title-margin: 3em;
    /* Font Size */
    --font-small: 0.5em;
    /* btn */
    --font-medium: 0.875em;
    --font-big: 1.3em;
    --font-biggest: 3em;
    --font-title: 2em;
    /* title size */
    --font-btn: 1.5em;
    --font-start-page: 4em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Gugi", cursive; */
}


/* Start page */

#start-value-btn,
#info-value-btn {
    border: 3px solid var(--white-color);
    font-size: 2em;
    background-color: #56a8a2;
    color: var(--white-color);
    position: absolute;
    transform: translate(-50%, 0);
    /* padding: 0.375rem 0.75rem;
  border-radius: 10px; */
}

#start-value-btn {
    bottom: 5%;
    left: 50%;
}

#info-value-btn {
    bottom: 10%;
    left: 50%;
}

#start-value-btn:active,
#info-value-btn:active {
    font-weight: bold;
    cursor: pointer;
}


/* .nextBtn {
  border-radius: 10%;
  padding: var(--padding-medium);
  border: 2px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--font-small);
} */


/* .nextBtn:active {
  font-weight: bold;
  cursor: pointer;
} */


/***************************************************************************Info Page*/


/* Test-Value-1 / Test-Value-2: canvas */

#test-value-1,
#test-value-2 {
    text-align: center;
}

#test-value-1 .timer,
#test-value-2 .timer {
    /* color: var(--white-color); */
    padding-top: 5vh;
}

.action-submit:active {
    transform: scale(1.1);
    cursor: pointer;
}

canvas {
    position: absolute;
    z-index: -9999;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 900px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: auto;
    touch-action: none;
}

.action-submit {
    border-radius: 10%;
    padding: var(--padding-medium);
    /* border: 2px solid var(--white-color); */
    /* background-color: transparent; */
    /* color: var(--white-color); */
    font-size: var(--font-small);
    width: 10vh;
    position: absolute;
    bottom: 5vh;
}

.btnDiv {
    padding-right: 13vh;
}