/* main page background images */

#start-main {
    background-image: url("../img/main/element.png"), url("../img/main/background.png");
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center center;
}


/* Apply to all style */

html,
body,
main,
article {
    width: 100%;
    height: var(--page-viewport-height, 100%);
    pointer-events: none;
    position: fixed;
    overflow: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

article {
    display: none;
}

[class *="action"] {
    pointer-events: auto;
}


/* main page */

#navbar {
    position: fixed;
    top: 0;
    width: var(--navbar-width, 100%);
    height: 3px;
    background-image: linear-gradient( 310deg, #80d7ff 0%, #ffea80 37%, #ff8086 100%);
    transition: width 230ms ease;
}

#start-main-btn {
    border: 0;
    border-radius: 7px;
    font-size: 3em;
    background-image: linear-gradient( 310deg, #80d7ffaa 0%, #ffea80aa 37%, #ff8086aa 100%);
    color: var(--white-color);
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 30%;
}

#start-main-btn:active {
    font-weight: bold;
    cursor: pointer;
}