button{
  width : 63px;
  height: 63px;
  background-color: #9f77c3;
  color: #fff;
  box-shadow: 3px 3px 16px #9f77c34d;
  border-radius: 10px;
  border: 0;
  transition: 0.3s;
}
button:active{
  background-color: #ffffff00;
  border: 2px;
}
button:focus{
  outline: 0;
}
button:hover{
  cursor: pointer;
  box-shadow: 1px 1px 4px #a077c3d8;
}
button::after{
  background-color: #ffffff00;
  border: 5px;
}