:root {
    --R_of-color_wheel: 30vw;
}

article {
    display: none;
    position: absolute;
    height: 50vh;
    left: 50%;
    transform: translate(-50%, 0);
    /* border: 1px solid red; */
}

p {
    padding: 3vh 0 1vh 0;
}

.in_game_text {
    margin: 0;
    padding: 1vh 0 0 0;
}

.pop {
    width: calc(var(--R_of-color_wheel) * 0.314);
    height: calc(var(--R_of-color_wheel) * 0.314);
    border: 1px solid #222;
    border-radius: 50%;
    position: absolute;
    margin-left: var(--R_of-color_wheel);
}

.lolli {
    width: var(--R_of-color_wheel);
    height: 1px;
    background: #222;
    position: absolute;
    margin-top: calc(var(--R_of-color_wheel) * 0.157);
    opacity: 0;
}

.lollipop {
    position: absolute;
    margin: 20vh 0 0 45vw;
    transform-origin: left calc(var(--R_of-color_wheel) * 0.157);
}

.color_wheel {
    opacity: 0;
    transition: 0.25s;
}

.color_box {
    height: 65vh;
    max-height: 500px;
}

footer {
    margin-top: 60vh;
}

button.next {
    height: 2.5rem;
    margin: 3vh 5rem 0 5rem;
    background-color: #9f77c3;
    color: #fff;
    box-shadow: 3px 3px 16px #9f77c34d;
    border-radius: 10px;
    border: 0;
    font-size: 0.2rem;
    font-weight: bold;
    transition: 0.1s;
}

button.next:active {
    background-color: #ffffff00;
    border: 2px;
}

button.next:focus {
    outline: 0;
}

button.next:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px #a077c3d8;
}

button.next::after {
    background-color: #ffffff00;
    border: 5px;
}