:root {
    /* images */
    --result-end-background: url("./img/end/result-end/background.png");
    --result-end-element: url("./img/end/result-end/element.png");
}

#result-end {
    background-image: var(--result-end-element), var(--result-end-background);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center center;
}