:root {
    /* Color */
    --white-color: #fffeff;
    --bg-color: #717ac6;
    /* Padding - Margin - Border */
    --padding-size: 0.5em;
    /* Font */
    --font-start-page: 4em;
}


/***********************************************************/

* {
    margin: 0;
    padding: 0;
    /* font-family: "Jua", sans-serif; */
}

html,
body {
    width: 100%;
    height: 100%;
}


/* .nextBtn {
  border-radius: 10%;
  padding: var(--padding-size);
  border: 2px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: calc(var(--font-start-page) / 8);
}

.nextBtn:active {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.1);
} */


/*********************************************************************/


/******************************************************** Start Page */

#start-chroma-test,
#info-chroma-test {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center center;
}

#start-chroma-test {
    background-image: url("../img/chroma/element_title.png"), url("../img/chroma/background.png");
}

#info-chroma-test {
    background-image: url("../img/chroma/element_info.png"), url("../img/chroma/background.png");
}

#start-chroma-btn,
#info-chroma-btn {
    border: 3px solid var(--white-color);
    font-size: 2em;
    background-color: var(--bg-color);
    color: var(--white-color);
    position: absolute;
    transform: translate(-50%, 0);
    /* padding: 0.375rem 0.75rem;
  border-radius: 10px; */
}

#start-chroma-btn {
    bottom: 25%;
    left: 50%;
}

#info-chroma-btn {
    bottom: 10%;
    left: 50%;
}

#start-chroma-btn:active,
#info-chroma-btn:active {
    font-weight: bold;
    cursor: pointer;
}

[id^="test-chroma"] {
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("../img/chroma/grid.png");
}


/******************************************************** Info Page */


/* Test-Chroma-1 / Test-Chroma-2
     Test-Chroma-3 / Test-Chroma-4: canvas */

#test-chroma-1,
#test-chroma-2,
#test-chroma-3,
#test-chroma-4 {
    position: fixed;
    /* width: 100vw;
  height: 100vh; */
    text-align: center;
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("../img/chroma/grid.png");
}

#test-chroma-1 .timer,
#test-chroma-2 .timer,
#test-chroma-3 .timer,
#test-chroma-4 .timer {
    /* color: var(--white-color); */
    margin-top: 5vh;
}

.action-submit:active {
    cursor: pointer;
    font-weight: bold;
}

canvas {
    position: absolute;
    z-index: -9999;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 900px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: auto;
    touch-action: none;
}

.action-submit {
    border-radius: 10%;
    padding: var(--padding-size);
    /* border: 2px solid; */
    /* background-color: transparent; */
    /* color: var(--white-color); */
    /* font-size: calc(var(--font-start-page) / 2); 2em */
    width: 10vh;
    position: absolute;
    bottom: 5vh;
    font-size: var(--padding-size);
}

.btnDiv {
    padding-right: 13vh;
}